artifacts/
build/
cache/
.cache/
coverage/
node_modules/
.certora_sources/
emv-*/
certora_debug_log.txt
package-lock.json
.coverage_artifacts/
.coverage_contracts/
coverage/
coverage.json
.env
yarn-error.log
.last_confs/*
.certora_config/*
.certora_*.json
deployments/localhost
typechain-types
workbench/contracts.json

# Certora
.certora*
.last_confs
certora_*
gas_report.txt
